<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>发布文章</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/jquery.min.js"></script>
    <script  src="/js/bootstrap.min.js" type="application/javascript" ></script>
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/community.js"></script>
    <link rel="stylesheet" href="/editormd/css/editormd.min.css" />
    <script src="/editormd/editormd.min.js"></script>
    <script type="text/javascript">
        $(function() {
            var editor = editormd("question-editor", {
                width  : "100%",
                height : "350px",
                path   : "/editormd/lib/",
                delay  :  0,
                watch  : false,
                placeholder : "请输入问题的描述",
                imageUpload    : true,
                imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL : '/file/upload',
            });
        });
    </script>
</head>
<body style="background-color: #9d9d9d">


<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid">
    <div class="row main panel panel-default">
        <div class="col-lg-9 publish text-border mycontent-left" style="background-color: white">
            <h2 class="glyphicon glyphicon-plus top">发布文章</h2>
            <hr style="filter: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color="#6f5499" size="3" />

            <div class="col-lg-12" th:if="${error} != null" >
                <span class="alert alert-danger col-lg-12 text-center" th:text="${error}"></span>
            </div>

            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题</label>
                    <input type="text" class="form-control" id="title" name="title" th:value="${title}" placeholder="问题标题..." autocomplete="off">
                </div>
                <label for="description">问题描述</label>
                <div id="question-editor">
                    <textarea style="display:none;" class="form-control" rows="20" id="description" name="description" th:text="${description}" ></textarea>
                </div>


                <br>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input type="text" class="form-control" id="tag" placeholder="标签" th:value="${tag}" name="tag" autocomplete="off" onclick="showSelectTag()">
                    <div id="select-tag" style="display: none">
                        <!-- Nav tabs -->
                       <ul class="nav nav-tabs" role="tablist" >
                           <li role="presentation"  th:each="selectCategory,selectCategoryStat : ${selectTags}" th:class="${selectCategoryStat.first ? 'active':''}">
                               <a th:href="${'#'+selectCategory.categoryName}" aria-controls="home" role="tab" data-toggle="tab" th:text="${selectCategory.categoryName}"></a>
                            </li>
                       </ul>
                        <!-- Tab panes -->
                        <div class="tab-content" >
                            <div role="tabpanel" th:id="${selectCategory.categoryName}" th:each="selectCategory : ${selectTags}" style="margin-top: 6px" th:class="${selectCategoryStat.first ? 'active tab-pane':' tab-pane'}">
                                <a class="label label-info question-tag" th:each="selectTag : ${selectCategory.tags}" style="white-space: normal">
                                    <span class="glyphicon glyphicon-tags" th:id="chuancan" onclick="selectTag(this)" th:data-tag="${selectTag}" th:text="${' '+selectTag}"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-success pull-right" >发布</button>
            </form>

        </div>
        <div class="col-lg-3" style="background-color: white">
            <h5 class ="text-center">文章相关</h5>
            <ul>问题标题:请用精简的语言描述您发布的问题，不超过25字</ul>
            <ul>问题补充:详细补充您的问题内容，并确保问题描述清晰直观，并提供-些相关的资料</ul>
            <ul>选择标签:选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字</ul>
        </div>

    </div>
</div>

</body>
</html>